<div class="small-12 medium-3 columns">
  <nav class="sidebar">
    <ul class="side-nav">
      <li><%= link_to "My Projects", projects_path %></li>
      <li><%= link_to "My Tasks", tasks_path %></li>
      <li><a href="#">My Topics </a></li>
      <li><a href="#">My Questions</a></li>
    </ul>
  </nav>
</div>